html{
    font-family: monospace;
    color: rgb(46, 46, 46);
}
a:hover{
    color:rgb(255, 0, 0);
}
ul > li {
    font-weight: bold;
}
h1 + p:hover{
    color:rgb(255, 0, 242)
}
ul li:hover{
    color:aqua
}
p:not(:first-of-type){
    text-decoration: dotted;
}
ul li::before{
    content: "🤩"
}
a:after{
    content: "😎"
}
p::first-letter{
    font-size:200%;
    color: rgb(255, 145, 0);
}